@font-face {
    font-family: "taviraj";
    src: url(../fonts/Taviraj/Taviraj-Light.ttf);
}

@font-face {
    font-family: "play";
    src: url(../fonts/Play/Play-Bold.ttf);
}

@font-face {
    font-family: "baloo";
    src: url(../fonts/Baloo_Tamma/BalooTamma-Regular.ttf);
}

@font-face {
    font-family: "lobster";
    src: url(../fonts/Lobster/Lobster-Regular.ttf)
}

@font-face {
    font-family: "crimson_text";
    src: url(../fonts/Crimson_Text/CrimsonText-Bold.ttf);
}