.hinh {
    width: 9em;
    height: 100px;
}

.ten_sp {
    width: 20%
}

.sluong2 {
    width: 15%;
}

.sluong2 input {
    margin-left: 15px
}

.gia {
    width: 15%;
}

.ttien {
    width: 15%;
}

.muc {
    font-weight: bold
}